<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
    <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>The value of having a structured approach <br><em>to recreational pursuits </em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>
                        	<div class="fl-right">
                              <img src="app/styles/images/structured-recreational-pursuits.jpg" width="211" height="139" alt="positive self talk">
                            </div>                        
                            	<li>Structures do not have to be rigid to give good support. Indeed, it is better if they are not.</li>
                                <li>By developing a structured approach to choosing and taking part in leisure pursuits you are more likely to find pursuits
                                    <ol>
                                        <li>that you enjoy doing and get satisfaction from</li>
                                        <li>that most suit you and hence provide you with the most overall
benefit for your physical and mental wellness.</li>
                                    </ol>
                                </li>
								<li>Not choosing a structured approach is a strategy through which you
gamble with your wellness. If you choose to adopt an unstructured approach you will be inclined select activities by habit or custom, rather
than through insight </li>
                            <li>Unstructured recreational activities are less likely to provide what you
need from them to develop wellness. You are more likely to adopt the sin of omission too! Why just gravitate to certain kinds of recreational activities? Make an informed choice and reap the benefits.</li>
<li>Studies have shown that the ‘social factor’ is one of the main attractions of leisure activity. ‘People wanting to be with people’ has long been recognised as a major reason why people participate in recreational activities, including exercise, sport, yoga, singing and so on. It is clear that these are a part of life in which social contacts are frequently made</li>
<li>There are other persons for whom the highly social milieu is not as important and this will affect their recreational choices and satisfaction. Even within one apparently uniform activity there is room to exercise choice, as when looked at closely even a single activity has many sub forms. </li>
<li>Take for example, sport. Outgoing more extroverted types who tend towards being gregariously social are more likely to choose team sports. Less outgoing, more introverted types and less inclined to gregarious mixing with people may select more solitary forms of sport such as walking, cycling, endurance running, cross country skiing, canoeing etc.</li>
<li>Recreational activities have to be chosen to match an individual’s needs. This will benefit from some careful forethought. A map of the person’s needs and desires and a careful selection of activities to match them are at the heart of developing a structured and effective involvement in recreation. </li>
<li>It has however been shown in studies of recreational involvement that recreational activities, which have different characteristics to our work, can be very beneficial to our wellness. They help to reach the parts that work activities cannot. This reflects the search for life balance.</li>
                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>
