<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="p2" class="content-section">
                <div class="section-heading">
                    <h1>Seven Ways To Deal<em> with Emotional Turmoil</em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>
                                <li>Translate your emotions into language. Talk out loud or simply write the problem down. This will enable you to view the problem through a different sensory modality, for example, the auditory or visual system, giving you a different perspective from which to identify causes and/or solutions.</li>
                                <li>Identify the emotion you are experiencing. Are you feeling sad, angry, fearful, guilty, embarrassed, or a combination of these or others?</li>
                                <li>Identify the source of the problematic emotion. Are you angry with yourself for not accomplishing a goal? Are you fearful or sad about the consequences for not having done so? Are you feeling guilty because you failed? And remember that what really causes you to blow up at the end of the day may very well be some event you’ve been mulling over all day long.</li>
                                <li>Identify the negative thoughts you might be experiencing and hold them up to reality.</li>
                                <li>Identify those thoughts, which are grossly exaggerated and replace them with more rational thoughts. For example, if you happen to be late for a family gathering, don't assume your family will think that you don't love them. Recognize that they will probably accept that your tardiness was due to reasons outside of your control.</li>
                                <li>Re-think the entire scenario. Just as a result of going through the steps at this point, you probably have already avoided a major, emotional crisis.</li>
                                <li>Once you figure out what went wrong, take corrective action. Learn from your mistakes, and set about to make sure that it doesn't happen again. Remember that even your biggest blunder can always serve as a bad example for future choices.</li>
                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>